
body {
	background-image: url("../images/outerspace_landscape.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
}

nav {
	background-color: gray;
	position: fixed;
	width: 100%;
	height: 75px;
	top: 0px;
	text-align: left;
}
ul {
	margin-top: 0px;
	margin-left: 100px;
}
ul li {
	display: inline-block;
}
li {
	margin-left: 10px;
	margin-top: 25px;
}
li::after {
	margin-left: 15px;
	content: '|';
}
nav img {
	border: 1px solid black;
	border-radius: 50%;
	height: 50px;
	top: 10px;
	left: 30px;
	position: absolute;
}
body img {
	size: 200px 200px;
	position: absolute;
}
.spacecat {
	margin-top: -450px;
	margin-left: 150px;
}
.spacedog {
	margin-top: -100px;
	margin-left: 700px;
}
.dottedbox {
	margin-left: 250px;
	margin-top: 250px;
	height: 300px;
	width: 600px;
	border: 10px green dashed;
}